<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier Condition="'$(RuntimeIdentifier)' == ''">win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishReadyToRun>true</PublishReadyToRun>
    <PublishDir>$(ArtifactsRoot)publish\$(MSBuildProjectName)\Startup\$(RuntimeIdentifier)\</PublishDir>
  </PropertyGroup>
</Project>
